<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>register</Title>
			<Shortcut>register</Shortcut>
			<Description>Register event snippet for World of Warcraft</Description>
			<Author>Microsoft Corporation</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Declarations>
				<Literal>
					<ID>eventname</ID>
					<ToolTip>Name of the event</ToolTip>
					<Default>PLAYER_TARGET_CHANGED</Default>
				</Literal>
			</Declarations>
			<Code Language="lua">
<![CDATA[this:RegisterEvent("$eventname$")$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>